/*langsung menuliskan nama warnanya*/
header {
    background: teal;
}

#header {
    color: white;
}

/*menggunakan kode hexadecimal*/
h1 {
    color: #008080;
}

/*menggunakan fungsi RGB*/
h2 {
    color: rgb(88, 255, 21);
}

/*menggunakan fungsi RGBA*/
h3 {
    background: rgba(40, 23, 11, 0.7);
}
